<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>文件列表</title>
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/static/css/base.css">
        <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    </head>
    <body>
        <a href="/upload">上传文件</a>
        <ol>
            {{range $.images}}
            <li><a href="/view?id={{.|urlquery}}" target="_blank">{{.|html}}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/delete?id={{.|urlquery}}">delete</a></li>
            {{end}}
        </ol>
    </body>
</html>