<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>文件上传</title>
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/static/css/base.css">
        <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    </head>
    <body>
        <form method="post" action="/upload" enctype="multipart/form-data">
            Choose an image to upload:<input type="file" name="image"/>
            <input type="submit" value="submit">
        </form>
    </body>
</html>